<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh">
  <head>
    <link href="<%= "../#{Lknovel::STYLESHEET_DIR}/default.css" %>" rel="stylesheet" type="text/css"/>
    <title><%= @title %></title>
  </head>
  <body>
    <h1><%= @title %></h1>
<% @content.each do |item| -%>
<% if item.is_a?(Lknovel::Image) -%>
      <img src="<%= "../#{Lknovel::IMAGE_DIR}/#{item.file}" %>"/>
<% else -%>
      <p><%= item %></p>
<% end -%>
<% end -%>
  </body>
</html>
