<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops">
  <head>
    <link href="<%= "/#{STYLESHEET_DIR}/default.css" %>" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <img class="page-break" src="<%= "/#{IMAGE_DIR}/cover.jpg" %>">
    <h1>简介</h1>
    <p><%= @intro %></p>
    <nav epub:type="toc" id="toc">
      <ul class="nav">
<% @chapters.each_with_index do |chapter, index| -%>
        <li><a href="<%= HTML_FILE_FORMAT % index %>"><%= chapter.title %></a></li>
<% end -%>
      </ul>
    </nav>
  </body>
</html>
