<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh">
  <head>
    <title><%= chapter.title %></title>
  </head>
  <body>
    <h1><%= volume.title %></h1>
    <h2><%= chapter.title %></h2>
<% chapter.content.each do |item| -%>
<% if item.is_a?(URI::HTTP) -%>
      <img src="../images/<%= Chapter.to_file(item) %>">
<% else -%>
      <p><%= item %></p>
<% end -%>
<% end -%>
  </body>
</html>
